<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <!-- DB connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/grocery-store</property>
        <property name="hibernate.connection.username">grocery-store-user</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Automatically update schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Entity mapping -->
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.User"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.Store"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.Order"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.Payment"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.Category"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.Product"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.OrderItem"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.CartItem"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.InventoryItem"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.PickupHours"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.PickupHoursAdjustment"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.PickupAppointment"/>
        <mapping class="com.nickesqueda.grocerystoredemo.model.entity.Role"/>
    </session-factory>
</hibernate-configuration>
