<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <!-- DB connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/grocery-store</property>
        <property name="hibernate.connection.username">grocery-store-user</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Automatically update schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Entity mapping -->
        <mapping class="com.nickesqueda.model.user.User"/>
        <mapping class="com.nickesqueda.model.store.Store"/>
        <mapping class="com.nickesqueda.model.order.Order"/>
        <mapping class="com.nickesqueda.model.payment.Payment"/>
        <mapping class="com.nickesqueda.model.category.Category"/>
        <mapping class="com.nickesqueda.model.product.Product"/>
        <mapping class="com.nickesqueda.model.order.OrderItem"/>
        <mapping class="com.nickesqueda.model.cart.CartItem"/>
        <mapping class="com.nickesqueda.model.inventory.InventoryItem"/>
        <mapping class="com.nickesqueda.model.pickup.PickupHours"/>
        <mapping class="com.nickesqueda.model.pickup.PickupHoursAdjustment"/>
        <mapping class="com.nickesqueda.model.pickup.PickupAppointment"/>
        <mapping class="com.nickesqueda.security.Role"/>
    </session-factory>
</hibernate-configuration>
